<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="target-densitydpi=device-dpi, initial-scale=1.0, user-scalable=no" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Interfaz de servicios</title>
<link rel="shortcut icon" th:href="@{/img/favicon.png}" />

<!-- Bootstrap -->
<link th:href="@{/css/bootstrap.css?v=0.0.1}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
<link th:href="@{/css/jquery.dataTables.css}" rel="stylesheet" />
<link th:href="@{/css/datepicker.css}" rel="stylesheet" />
<link th:href="@{/css/autocomplete.css}" rel="stylesheet" />
<link th:href="@{/css/jquery.alerts.css}" rel="stylesheet" />
<script th:src="@{/js/tinymce/tinymce.min.js}"></script>
<script>tinymce.init({ selector:'#idNoteInfo',menubar: false });</script>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<!-- <script th:src="@{/js/validate.js}"></script> -->
</head>
<body>
	<nav class="navbar-default navbar-static-side" role="navigation"
		th:fragment="navbar-default">
		<div class="sidebar-collapse" style="">
			<ul class="nav metismenu" id="side-menu" style="display: block;">
				<li class="nav-link"><a href="#" th:href="@{/invoices}"><i
						class="fa fa-file-archive-o"></i> <span class="nav-label">Invoices</span></a></li>
				<li class="nav-link"><a href="#"><i class="fa fa-cogs"></i> <span
						class="nav-label">Servicios</span><span class="fa arrow"></span></a>					
					<ul class="nav nav-second-level collapse" style="display: none;">
						<li><a href="http://52.26.167.203/zservice-interface-1.0/addservices?">Nuevo Servicio</a></li>
					</ul>
					<ul class="nav nav-second-level collapse">
						<li class="nav-item" ><a href="#" th:href="@{/addonservices}">Agregar
								servicios</a></li>
					</ul>
					<ul class="nav nav-second-level collapse">
						<li class="nav-item"><a href="#" th:href="@{/addservices}">Generar invoice</a></li>
					</ul>
					<ul class="nav nav-second-level collapse">
						<li class="nav-item"><a href="#"  th:href="@{/sendmailliq}">Liquidacion</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
</body>
</html>